
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - upgrademgr.orkaproj.io
  resources:
  - rollingupgrades
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - upgrademgr.orkaproj.io
  resources:
  - rollingupgrades/status
  verbs:
  - get
  - update
  - patch
