name: Build-Test

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
  release:
    types:
      - published

jobs:
  build:
    name: CI # Lint, Test, Codecov, Docker build & Push
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Golangci-lint
      uses: golangci/golangci-lint-action@v1
      with:
        # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
        version: v1.29
        args: --timeout 2m

    - name: Get kubebuilder
      env:
        version: 1.0.8 # latest stable version
        arch: amd64
      run: |
        # download the release
         curl -L -O "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${version}/kubebuilder_${version}_linux_${arch}.tar.gz"
        # extract the archive
         tar -zxvf kubebuilder_${version}_linux_${arch}.tar.gz
         mv kubebuilder_${version}_linux_${arch} kubebuilder && sudo mv kubebuilder /usr/local/
        # update your PATH to include /usr/local/kubebuilder/bin
         export PATH=$PATH:/usr/local/kubebuilder/bin

    - name: Run Tests
      run: make test

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.txt # optional
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)

    - name: Docker build # on PRs. on pushes to forks
      if: github.event_name == 'pull_request' || (github.repository != 'keikoproj/upgrade-manager' && github.event_name == 'push')
      run: make docker-build
    
    - name: Build and push Docker image with tag master # only on pushes to keikoproj/upgrade-manager
      if: github.event_name == 'push' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: keikoproj/rolling-upgrade-controller
        tags: master
    
    - name: Build and push Docker image with tag latest # only on releases of keikoproj/upgrade-manager
      if: github.event_name == 'release' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: keikoproj/rolling-upgrade-controller
        tags: latest

    - name: Build and push Docker image with tag git-tag # only on releases of keikoproj/upgrade-manager
      if: github.event_name == 'release' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: keikoproj/rolling-upgrade-controller
        tag_with_ref: true
