name: Build-Test

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
  release:
    types:
      - published

jobs:
  build:
    name: CI # Lint, Test, Codecov, Docker build & Push 
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: 1.21

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
        version: v1.54
        args: --timeout 3m

    - name: Get kubebuilder
      env:
        version: 1.0.8 # latest stable version
        arch: amd64
      run: |
        # download the release
         curl -L -O "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${version}/kubebuilder_${version}_linux_${arch}.tar.gz"
        # extract the archive
         tar -zxvf kubebuilder_${version}_linux_${arch}.tar.gz
         mv kubebuilder_${version}_linux_${arch} kubebuilder && sudo mv kubebuilder /usr/local/
        # update your PATH to include /usr/local/kubebuilder/bin
         export PATH=$PATH:/usr/local/kubebuilder/bin
    - name: Run Tests
      run: make test

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        file: ./coverage.txt
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Set up QEMU
      if: (github.event_name == 'push' || github.event_name == 'release') && github.repository == 'keikoproj/upgrade-manager'
      id: qemu
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all

    - name: Set up Docker Buildx
      if: (github.event_name == 'push' || github.event_name == 'release') && github.repository == 'keikoproj/upgrade-manager'
      id: buildx
      uses: docker/setup-buildx-action@v3
      with:
        install: true

    - name: Login to DockerHub
      if: (github.event_name == 'push' || github.event_name == 'release') && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push Docker image with tag master # only on pushes to keikoproj/upgrade-manager
      if: github.event_name == 'push' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm/v7,linux/arm64
        push: true
        tags: keikoproj/rolling-upgrade-controller:master
    
    - name: Build and push Docker image with tag latest # only on releases of keikoproj/upgrade-manager
      if: github.event_name == 'release' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm/v7,linux/arm64
        push: true
        tags: keikoproj/rolling-upgrade-controller:latest

    - name: Build and push Docker image with tag git-tag # only on releases of keikoproj/upgrade-manager
      if: github.event_name == 'release' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm/v7,linux/arm64
        push: true
        tags: keikoproj/rolling-upgrade-controller:${{ github.event.release.tag_name }}
