name: Build-Test

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
  release:
    types:
      - published

jobs:
  build:
    name: CI # Lint, Test, Codecov, Docker build & Push
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
        version: v1.32
        args: --timeout 2m

    - name: Get kubebuilder
      env:
        version: 1.0.8 # latest stable version
        arch: amd64
      run: |
        # download the release
         curl -L -O "https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${version}/kubebuilder_${version}_linux_${arch}.tar.gz"
        # extract the archive
         tar -zxvf kubebuilder_${version}_linux_${arch}.tar.gz
         mv kubebuilder_${version}_linux_${arch} kubebuilder && sudo mv kubebuilder /usr/local/
        # update your PATH to include /usr/local/kubebuilder/bin
         export PATH=$PATH:/usr/local/kubebuilder/bin

    - name: Run Tests
      run: make test

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.txt # optional
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)

    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v1
      with:
        image: tonistiigi/binfmt:latest
        platforms: all

    - name: Docker build
      if: github.event_name == 'pull_request' || (github.repository != 'keikoproj/upgrade-manager' && github.event_name == 'push')
      run: make docker-build
    
    - name: Login to DockerHub
      if: github.repository == 'keikoproj/upgrade-manager'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: keikoproj/rolling-upgrade-controller

    - name: Build and push Docker image with tag master # only on pushes to keikoproj/upgrade-manager
      if: github.event_name == 'push' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v2
      with:
        tags: ${{ steps.docker_meta.outputs.tags }}
        context: . 
        push: true
        platforms: linux/amd64,linux/arm64

    - name: Build and push Docker image with tag latest # only on releases of keikoproj/upgrade-manager
      if: github.event_name == 'release' && github.repository == 'keikoproj/upgrade-manager'
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.docker_meta.outputs.tags }}
